<ion-header>
  <ion-toolbar>
    <ion-title>Pokémon List</ion-title>
  </ion-toolbar>
</ion-header>

<div class="container">
  <h1>Búsqueda de Pokémon</h1>

  <div class="search">
    <input type="text" [(ngModel)]="pokemonName" placeholder="Ingresa el nombre del Pokémon" />
    <button (click)="searchPokemon()">Buscar</button>
  </div>

  <div *ngIf="loading">Cargando...</div>
  <div *ngIf="errorMessage" class="error">{{ errorMessage }}</div>

  <div *ngIf="pokemonData" class="pokemon-details">
    <h2>{{ pokemonData.name | titlecase }}</h2>
    <img [src]="pokemonData.sprites.front_default" alt="{{ pokemonData.name }}" />
    <p><strong>ID:</strong> {{ pokemonData.id }}</p>
    <p><strong>Altura:</strong> {{ pokemonData.height }}</p>
    <p><strong>Peso:</strong> {{ pokemonData.weight }}</p>
    <div>
      <strong>Habilidades:</strong>
      <ul>
        <li *ngFor="let ability of pokemonData.abilities">
          {{ ability.ability.name }}
        </li>
      </ul>
    </div>
    <div>
      <strong>Tipos:</strong>
      <ul>
        <li *ngFor="let type of pokemonData.types">
          {{ type.type.name }}
        </li>
      </ul>
    </div>
  </div>
</div>